<div
  *ngIf="image"
  (mouseenter)="isHovered = true"
  (mouseleave)="isHovered = false"
  class="w-75 position-relative"
>
  <img src="{{ image.image }}" class="img-fluid single-img" alt="" />

  <div
    *ngIf="isHovered"
    class="position-absolute top-0 left-0 h-100 w-100 single-img d-flex justify-content-start align-items-end p-2"
  >
    <p class="small p-2 border-radius bg-dark text-light">{{ image.tag }}</p>
  </div>

  <div
    *ngIf="isHovered"
    class="position-absolute top-0 left-0 h-100 w-100 single-img d-flex justify-content-end p-2"
  >
    <i (click)="testRun()" class="fa-solid text-light fa-circle-xmark icon"></i>
  </div>
</div>
