<div class="row mt-2 row-gap-5 p-3 ps-5 pe-0">
  <div *ngFor="let image of images" class="col-3">
    <app-single-image
      [imageMetadata]="image"
      (onDelete)="onImageDelete($event)"
      (onImageClick)="onImageClick($event)"
    ></app-single-image>
  </div>
</div>

<p
  *ngIf="!searchIsActive && (!images || images.length < 1); else notFound"
  class="fs-5 my-5 mt-0 text-center"
>
  No images uploaded...
  <i class="fa-solid fa-hippo fa-bounce ms-2"></i>
</p>

<ng-template #notFound>
  <p
    *ngIf="searchIsActive && (!images || images.length < 1)"
    class="fs-5 my-5 mt-0 text-center"
  >
    No images Found...
    <i class="fa-solid fa-face-sad-tear fa-shake ms-2"></i>
  </p>
</ng-template>
